* {

    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

li {

    list-style: none;
    display: inline-block
}

a {

    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {

    text-decoration: none;
}

h1,
h2,
h4 {

    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn {

    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {

    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}


/*NAVIGATION*/


.navbar {

    background-color: #222222 !important;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    border: none;

}
.logo{
  letter-spacing: 3px;
}

.navbar a {

    color: #fff !important;
    opacity: 0.7;
}


.navbar a:hover {

    opacity: 1;
    background-color: #111111 !important;
}
.navbar-default .navbar-toggle{
  border:none;
  border-radius:0;
}


/*HEADER*/

.header {

    height: 600px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 50px;
    background-image: url(../images/bg3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}


.header img {

    height: 350px;
    width: 450px;
    margin: 70px 0 0 40px;
}

.header h1 {

    font-size: 60px;
    font-weight: 700;
    padding-top: 90px;
    font-family: 'Raleway', sans-serif;
    text-transform: none;
    padding-left:13%;


}
.header h2{
  font-family:'Raleway', sans-serif;
  text-transform: none;
  padding-left:13%;


}

.header h1,
.header p,
.header button {

    margin-top: 20px;
}

.header .btn {

    border-radius: 0;
    margin: 40px 20px;
}


@media(max-width:768px) {

    .header {

        padding: 30px;
        height: 750px;
    }

    .header img {

        width: 90%;
        height: 300px;
        margin: 20px 0 0 20px;
    }

    .header .btn {

        font-size: 10px;
        margin-left: 20px;
    }

    .header h1 {
      font-size:40px;
      text-align:left;
      padding-left:0;
    }
    .header h2{
      text-align:left;
      padding-left:0;
    }

    .header p {

        font-size: 10px;
    }
}


/*ABOUT*/

.about {

    padding: 100px 0 0px;
    text-align: center;
}
.about hr{
  margin-top:110px;
  margin-bottom:10px;
}
.about h2
{

    color: #4c4c4c;
    margin: 20px 0 80px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}


.about p {
    padding-top:9%;
    color: #737373;
    font-size: 30px;
    padding-bottom: 40px;
    line-height:normal;
    text-align:left;
}


.about i {

    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #d8861e
    color: #fff;
}


@media(max-width:768px) {

    .about {

        padding: 50px 30px 30px 30px;
    }
    .about img{
      padding-right:20px;
    }
    .about p{
      font-size: 20px;
    }
    .about hr{
      margin-top:80px;
    }
}
/*SKILLS*/

.skills {

    padding: 80px 0 80px;
    text-align: center;
}
.skills hr{
  margin-top:60px;
}
.skills h2,
.skills h4 {
    font-family: 'Raleway', sans-serif;
    color: #4c4c4c;
    margin: 10px 0 60px;
}
.skills h2{
  letter-spacing:2px;
}
.skills h4{
  margin-top:40px;
  margin-bottom:15px;
}


.skills p {

    color: #737373;
    font-size: 16px;
    padding-bottom: 40px;
    text-align:left;
    margin-left:30px;
}


.skills i {

    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #d8861e;
    color: #fff;
}


@media(max-width:768px) {

    .skills {

        padding: 30px;
    }
}


/*WORK*/

.work {

    padding: 50px 0 100px;
    text-align: center;
    background-color: #266881;
}

.work h2,
.work p {

    color: #fff;
}
.work h2{
  font-family: 'Raleway', sans-serif;
  letter-spacing:2px;
  padding-bottom:40px;
}
.work p {

    padding-bottom:0;
}

.work .packages {

    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}


.work li {

    display: block;
    padding: 5px;
}

.work h4,
.work h1,
.work b {
    font-family: 'Raleway', sans-serif;
    color: #4c4c4c;


}
.work b{
  margin-bottom:30px;
}

.work p,
.work li {

    color: #737373;
}

.work button {

    margin-top: 10px;
    font-family: 'Raleway', sans-serif;

}

.work hr{
  border-top:1px solid rgba(238,238,238,0.3);

}


@media(max-width:768px) {

    .work {

        padding: 30px;
    }


}



/*CONTACT*/

.contact {

    padding: 50px 0 80px;
    text-align: center;
}

.contact p {

    padding-bottom: 80px;
    color: #737373;
}

.contact h2 {
    font-family: 'Raleway', sans-serif;
    color: #4c4c4c;
    margin: 20px 0 80px;
    letter-spacing:2px;
}

.contact .input-group {

    margin-bottom: 25px;
}

.contact .form-control {

    border-radius: 0 !important;
}

.contact span {

    border-radius: 0 !important;
}

.contact .btn {

    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #f08080;
    color: #fff;
    font-family: 'Raleway', sans-serif;

}

.contact .btn:hover {

    background-color: #a85959 !important;
    color: #fff !important;
}
/*PROJECT EMI*/
.screenshots {

    padding: 100px 0 0px;
    text-align: center;
}
.screenshots h1{
  font-family: 'Raleway', sans-serif;
  letter-spacing:2px;
  color: #4c4c4c;
}
.screenshots hr{
  margin-top:110px;
  margin-bottom:10px;
}
.screenshots h2
{

    color: #4c4c4c;
    margin: 20px 0 80px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}


.screenshots p {
    padding-top:9%;
    color: #737373;
    font-size: 30px;
    padding-bottom: 40px;
    line-height:normal;
    text-align:left;
}


.screenshots i {

    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #d8861e
    color: #fff;
}
.img-responsive {
  display:inline;
}

@media(max-width:768px) {

    .screenshots {

        padding: 50px 30px 30px 30px;
    }
    .screenshots img{
      padding-right:20px;
    }
    .screenshots p{
      font-size: 20px;
    }
    .screenshots hr{
      margin-top:80px;
    }
}
/*PROJECT OVERVIEW*/

.overview {

    padding: 80px 0 80px;
    text-align: center;
}
.overview hr{
  margin-top:60px;
}
.overview h2,
.overview h4 {
    font-family: 'Raleway', sans-serif;
    color: #4c4c4c;
    margin: 10px 0 60px;
    letter-spacing:2px;
}
.overview h4{
  margin-bottom:15px;
}


.overview p {

    color: #737373;
    font-size: 30px;
    padding-bottom: 40px;
    text-align:left;
    margin-left:30px;
    line-height:normal;
}
.overview li{
  display:block;
  font-size:20px;
}



@media(max-width:994px) {

    .overview {

        padding: 30px;
    }
    .overview p{
      font-size:18px;
    }
    .overview li{
      font-size:16px;
    }
}
@media(max-width:768px) {

    .overview {

        padding: 30px;
    }
    .overview p{
      font-size:18px;
    }
    .overview li{
      font-size:16px;
    }
}
/*PAPERCLIPOVERVIEW */
.PCoverview {

    padding: 80px 0 80px;
    text-align: center;
}
.PCoverview hr{
  margin-top:60px;
}
.PCoverview h2,
.PCoverview h4 {
    font-family: 'Raleway', sans-serif;
    color: #4c4c4c;
    margin: 10px 0 60px;
    letter-spacing:2px;
}
.PCoverview h4{
  margin-bottom:15px;
  font-size:25px;
}
.PCoverview h3{
  font-family: 'Raleway', sans-serif;
  color: #4c4c4c;
  margin: 10px 0 60px;
  letter-spacing:2px;
  text-transform: uppercase;
  font-weight:700;
  font-size: 30px;
}
.PCoverview h2{
  font-size:35px;
}
.PCoverview i{
  height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 30px;
    border-radius: 50%;
    background-color: #ef7d69;
    color: #fff;
    margin-bottom:20px;
}

.PCoverview p {

    color: #737373;
    font-size: 30px;
    padding-bottom: 40px;
    text-align:left;
    margin-left:30px;
    line-height:normal;
}
.PCoverview li{
  display:block;
  font-size:20px;
  color: #737373;
  text-align:left;
  margin-left:30px;
}
.hlist li{
  margin-left:140px;

}
.hlist{
  padding-bottom:30px;
}
.PCoverview img{
  margin-bottom:15px;
}



@media(max-width:994px) {

    .PCoverview {

        padding: 30px;
    }
    .PCoverview p{
      font-size:18px;

    }
    .PCoverview li{
      font-size:16px;
    }
    .hlist li{
      margin-left:230px;

    }
    .hlist{
      margin-bottom:20px;
    }
}
@media(max-width:768px) {

    .PCoverview {

        padding: 30px;
    }
    .PCoverview p{
      font-size:18px;
    }
    .PCoverview li{
      font-size:16px;


    }
    .hlist li{
      margin-left:30px;
    }
}
/*FOOTER*/

.footer {

    padding: 30px;
    color: #cccccc;
    background-color: #222222;
}


.footer .social {

    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}

.footer h4{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}
.footer input {

    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn {

    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}
.footer a{
  text-decoration:none;
  color:inherit;
}



























<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> Venkata Sreeram </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172816334-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172816334-1');
</script>

        <!-- Bootstrap -->
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <!-- ----------------------------------- -->
        
    <link rel="stylesheet" href="style.css">


        
    </head>
    <body>
        <!-- Build your first site here -->
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand" href="#"> Venkata Sreeram </a> 
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">                
                    <li class="nav-item active">
                        <a class="nav-link" href="#header"> Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about"> About </a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects"> Projects </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact"> Contact </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Education"> Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""> Twitter </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""> Instagram </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://linkedin.com/in/venkata-sreeram-977349181/"> Linkedin </a> 
                    </li>
                </ul>
            </div>
        </nav>
        

        <section id="header">
            <div class="jumbotron text-center">
                <h1> Venkata Sreeram </h1>
                <h3 class="display-4"> Welcome All to my Website </h3>
                <p class="lead">
                    This was my First and New website created in 2 Days after Atteding the Masterclass on " Creating a Website" by Scalar Academy !
                </p>
                <hr class="my-4"/>
                <button class="btn btn-lg btn-outline-success">Contact Me</button>
            </div>            
        </section>


				<section id="header">
            <div class="Education text-center  jumbotron">
                <h3 class="display-4"> About the Creation of this website </h3>
                <p class="lead">
                    I had Built this website With the basics of HTML and using the Framework "BOOTSTRAP" and some other Frameworks
                </p>
                <hr class="my-4"/>
            </div>            
        </section> <br>


        <section id="about">
            <div class="container">
              <div class="card about-me mb-4">
                <div class="card-header text-center ">
                    <h1> About Me </h1>
                </div>
                <div class="card-body">
                    <p class="card-text"> * An honor student with a record of academic and extracurricular success </p>
                    <p class="card-text"> * Extensive leadership experience, particularly within a higher education setting </p>
                    <p class="card-text"> * Adopt at working across departments, with faculty, administrators, and students </p>
                    <p class="card-text">  * Award-winning written communication skills </p>
                </div>
                
              </div>
              
              <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="card">                    
                        <img 
                        class="card-img-top" 
                        src="myimage.jpg" 
                        alt="My Image" 
                        height="80%" width="80%"
                        >    
                        <div class="card-body">
                            <div class="card-text text-center" > <h4> Venkata Sreeram </h4> </div>      
                        </div>
                        
                    </div>
                  
                </div>
                
                <div class="col-md-6 col-sm-12  skills-column">
                  <div class="card mb-4">
                      <div class="card-header">
                          <h3> 10th Class </h3>
                      </div>
                      <div class="card-body">   
												<p class="card-text"> * Vijayavani High School, Tenali </p>    
												<p class="card-text"> * G.P.A = 9.5 </p>        
                      </div>
                  </div>
                  
                  <div class="card mb-4">
                      <div class="card-header">
                          <h3> Intermediate  </h3>
                      </div>
                      <div class="card-body"> 
												<p class="card-text"> * Sri Chaitanya Jr.college, Tenali </p>    
												<p class="card-text"> * Percentage= 91% </p>        
                      </div>
                  </div>

                  <div class="card mb-4">
                      <div class="card-header">
                          <h3> Graduation </h3>
                      </div>
                      <div class="card-body">
                        <p class="card-text"> * Sri Mittapalli College of Engineering</p>  
												<p class="card-text"> * Computer Science</p>      
												<p class="card-text"> * C.G.P.A = 8.67</p>
                      </div>
                  </div>
                </div>
                
              </div>
              
            </div>
        </section>

       <section id="projects">
            <div id="projectsCarousel" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                        <li data-target="#projectsCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#projectsCarousel" data-slide-to="1"></li>
                        <li data-target="#projectsCarousel" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="https://srichaitanya.net/wp-content/uploads/2020/04/srichaitana_logo_hires.png" class="d-block w-100" alt="...">
                      <a href="#">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                      </a>
                    </div>
                    <div class="carousel-item">
                      <img src="https://directory.edugorilla.com/wp-content/uploads/sites/6/2018/02/63d450879d163d2e9b14c302d88ce2ac.jpeg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="https://www.smce.ac.in/wp-content/uploads/2017/03/college.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#projectsCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#projectsCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>                
            </div>                        
        </section>
        <section id="contact" class="container mt-4">            
            <div class="card">
                <div class="card-header text-center">
                    <h1> Contact Me </h1>                                    
                </div>
                <div class="card-body">
                    <form action="mailto:venkatasreeram14@gmail.com">
                        <div class="form-group">
                            <label for="inputEmail1">Email address</label>
                            <input placeholder="Your Email" type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">For Furthur Communicatin </small>
                        </div>

                        <div class="form-group">
                            <label for="inputName">Your Name</label>
                            <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp">
                            <small id="nameHelp" class="form-text text-muted">Please let me know your name.</small>
                        </div>

                        <div class="form-group">
                            <label for="formControlTextarea1">Your Message</label>
                            <textarea class="form-control" id="formControlTextarea1" rows="6"></textarea>
                        </div>

                        <button class="btn btn-lg btn-outline-success">Send Message</button>
                    </form>
                </div>
            </div>            
        </section> 
        <h3 class="text-center" > Venkata Sreeram </h3>



        <!-- Footer -->
        <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3"><p> © 2020 Copyright: Venkata Sreeram
            Built with love during Scaler Edge</a> Workshop.</p>
        </div>
        <!-- Copyright -->

        </footer>
        <!-- Footer -->

    </body>
</html>

